thead {
  background-color: lightblue;
  border-bottom: 2px solid black; 
  cursor: pointer;    

}
.paradiv {
  float: left;
  width: 50%;

}
.pagination {
  margin: 0px 0px !important;

}
.borderdiv {
  padding: 8px;

}
.ralign {
  width:100%; 
  text-align:right;   

}
